/*  */
.wrap_dangnhap {
    width: 35%;

    padding: 45px 50px;
    margin: 0 auto;

    background: var(--vien-hover);

    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 14px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

    box-sizing: border-box;
}
.trang-dang-nhap {
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
