/*  */
.wrap_dangnhap {
    width: 35%;

    padding: 45px 50px;
    margin: 0 auto;

    background: var(--vien-hover);

    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 14px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

    box-sizing: border-box;
}
.trang-dang-nhap {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(
        135deg,
        #d0415e 0%,
        #d0415e 20%,
        #d65767 calc(20% + 1px),
        #d65767 40%,
        #db7971 calc(40% + 1px),
        #db7971 60%,
        #e0a57c calc(60% + 1px),
        #e0a57c 80%,
        #e6d886 calc(80% + 1px) 100%
    );
    /* display: flex;
    justify-content: center; */
    align-items: center;
}
.wrap_header_dang_nhap {
    text-align: center;
    margin-bottom: 20px;
}
